/ = form_tag parse_word_url, class: "conjugate-root-form" do
= form_tag parse_subform_url, remote: true, class: "conjugate-root-form" do
	= text_field_tag :word, nil, class: "word-to-parse", autocomplete: "off"
	= submit_tag "Submit", class: "parse-word-submit-button"

- perspectives = %w[ana enta enti hooa heea nahn entum entun hoom hoon]

%table.conjugation-table
	%thead
		%tr
			%th.word-root3 ROOT3
			%th.word-root2 ROOT2
			%th.word-root1 ROOT1
		%tr
			%th.word-form{colspan: 3} FORM
		%tr
			%th.word-subform{colspan: 3} SUBFORM
		%tr
			%th
			%th PRESENT
			%th PAST
	%tbody
		- perspectives.each do |perspective|
			%tr{data: {perspective: perspective} }
				%td= perspective
				%td.present-tense-conjugation conjugation
				%td.past-tense-conjugation conjugation
